<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cshbxy.mapper.TravelMapper">
    <insert id="add" parameterType="TravelReimbursement">
        insert into oa_sys.travel(uid, releaseUid, destination, expenses, reason, nextUid, process)
        values (#{uid}, #{releaseUid}, #{destination}, #{expenses}, #{reason}, #{nextUid}, #{process})
    </insert>
    <select id="findApplyList" resultType="TravelReimbursement">
        select uid,
               destination,
               expenses,
               reason,
               status,
               count,
               nextUid,
               reject_reason,
               process,
               create_time,
               update_time
        from oa_sys.travel
        where releaseUid = #{releaseUid}
          and status >= 0
        order by create_time desc
    </select>
    <select id="findTravelByUid" resultType="TravelReimbursement">
        select uid,
               releaseUid,
               destination,
               expenses,
               reason,
               status,
               count,
               nextUid,
               reject_reason,
               process,
               create_time,
               update_time
        from oa_sys.travel
        where uid = #{uid}
    </select>
    <update id="delete">
        update oa_sys.travel
        set status = -1
        where uid = #{uid}
    </update>
    <select id="findWaitList" resultType="TravelReimbursement">
        select uid,
               releaseUid,
               destination,
               expenses,
               reason,
               status,
               reject_reason,
               process,
               create_time,
               update_time
        from oa_sys.travel
        where nextUid = #{nextUid}
          and status = 0
        order by create_time desc
    </select>
    <update id="resolve" parameterType="TravelReimbursement">
        update oa_sys.travel
        set status = #{status},
            count  =#{count},
            nextUid= #{nextUid}
        where uid = #{uid}
    </update>
    <update id="reject" parameterType="TravelReimbursement">
        update oa_sys.travel
        set status        = 2,
            nextUid= null,
            reject_reason = #{reject_reason}
        where uid = #{uid}
    </update>
</mapper>