<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cshbxy.mapper.UserMapper">
    <select id="login" resultType="User" parameterType="User">
        select uid,
               username,
               realeName,
               gender,
               tel,
               email,
               userType,
               departmentUid,
               status,
               create_time,
               update_time
        from oa_sys.user
        where username = #{username}
          and password = #{password}
          and userType = #{userType}
    </select>
    <select id="findRealeName" resultType="String">
        select realeName
        from oa_sys.user
        where uid = #{uid}
    </select>
    <select id="checkUsername" parameterType="User" resultType="String">
        select username
        from oa_sys.user
        where username = #{username}
          and userType = #{userType}
        limit 1
    </select>
    <insert id="add" parameterType="User">
        insert into oa_sys.user (uid, username, password, realeName, gender, tel, email, userType, departmentUid)
        values (#{uid}, #{username}, #{password}, #{realeName}, #{gender}, #{tel}, #{email}, #{userType},
                #{departmentUid})
    </insert>
    <update id="update" parameterType="User">
        update oa_sys.user
        set realeName = #{realeName},
            gender=#{gender},
            tel=#{tel},
            email=#{email}
        where uid = #{uid}
    </update>
    <delete id="delete">
        delete
        from oa_sys.user
        where uid = #{uid}
    </delete>
    <select id="findUserByUid" resultType="User">
        select uid,
               username,
               realeName,
               gender,
               tel,
               email,
               userType,
               departmentUid,
               status,
               create_time,
               update_time
        from oa_sys.user
        where uid = #{uid}
    </select>
    <update id="updatePassword" parameterType="User">
        update oa_sys.user
        set password = #{password}
        where uid = #{uid}
    </update>
    <update id="updateUsername" parameterType="User">
        update oa_sys.user
        set username = #{username}
        where uid = #{uid}
    </update>
    <update id="updateStatus" parameterType="User">
        update oa_sys.user
        set status = #{status}
        where uid = #{uid}
    </update>
    <select id="findUserType" resultType="User">
        select uid, realeName
        from oa_sys.user
        where userType = 'Department'
          and uid != "520e96fd-0250-4594-ae9e-1af4a421893b"
    </select>
    <select id="findDepartmentUid" resultType="String">
        select departmentUid
        from oa_sys.user
        where uid = #{uid}
    </select>
    <update id="updateDepartment" parameterType="User">
        update oa_sys.user
        set departmentUid = #{departmentUid}
        where uid = #{uid}
    </update>
    <select id="findAllUser" resultType="User">
        select uid,
               username,
               realeName,
               gender,
               tel,
               email,
               userType,
               departmentUid,
               status,
               departmentKey,
               create_time,
               update_time
        from oa_sys.user
        where uid != "520e96fd-0250-4594-ae9e-1af4a421893b"
        ORDER BY `userType`, `status`, `realeName`
    </select>
    <select id="findAllUserByDepartmentUid" resultType="User">
        select uid,
               username,
               realeName,
               gender,
               tel,
               email,
               userType,
               status,
               departmentKey,
               create_time,
               update_time
        from oa_sys.user
        where departmentUid = #{departmentUid}
        ORDER BY `userType`, `status`, `realeName`
    </select>
    <select id="findProcessUser" resultType="User">
        select uid,
               realeName
        from oa_sys.user
        where status = 0
          and userType = 'Leader'
    </select>
    <select id="findDepartmentKey" resultType="String">
        select uid
        from oa_sys.user
        where departmentUid = #{departmentUid}
          and departmentKey = 1
    </select>
    <select id="findAllLeaderByDepartmentUid" resultType="User">
        select uid,
               username,
               realeName,
               gender,
               tel,
               email,
               userType,
               status,
               create_time,
               update_time
        from oa_sys.user
        where departmentUid = #{departmentUid}
          and userType = 'Leader'
    </select>
    <update id="deleteDepartmentKey" parameterType="User">
        update oa_sys.user
        set departmentKey = 0
        where departmentUid = #{departmentUid}
    </update>
    <update id="updateDepartmentLeader" parameterType="User">
        update oa_sys.user
        set departmentKey = 1
        where uid = #{uid}
    </update>
</mapper>