<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cshbxy.mapper.WorkReportMapper">
    <insert id="addWorkReport" parameterType="WorkReport">
        insert into oa_sys.workreportteacher(uid, releaseUid, nextUid)
        values (#{uid}, #{releaseUid}, #{nextUid})
    </insert>
    <select id="checkLastWeekWorkReport" parameterType="WorkReport" resultType="WorkReport">
        select uid, create_time, update_time
        from oa_sys.workreportteacher
        where releaseUid = #{releaseUid}
          and status = 0
        order by create_time desc
        limit 1
    </select>
    <select id="findWorkReportList" resultType="WorkReport">
        select uid,
               releaseUid,
               status,
               count,
               nextUid,
               create_time,
               update_time
        from oa_sys.workreportteacher
        where releaseUid = #{releaseUid}
          and status >= 0
    </select>
    <select id="findWorkReportByUid" resultType="WorkReport">
        select uid,
               releaseUid,
               status,
               count,
               nextUid,
               create_time,
               update_time
        from oa_sys.workreportteacher
        where uid = #{uid}
    </select>
    <update id="deleteByUid" parameterType="String">
        update oa_sys.workreportteacher
        set status = -1
        where uid = #{uid}
    </update>
</mapper>