<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <!--组件扫描  主要扫描controller-->
    <context:component-scan base-package="com.cshbxy.controller"/>
    <!--配置mvc注解驱动-->
    <mvc:annotation-driven/>
    <!--内部资源视图解析器-->
    <bean id="resourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--开发静态资源访问权限-->
    <mvc:default-servlet-handler/>

    <!-- 配置文件上传解析器 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--设置请求编码格式，必须与JSP中的pageEncoding属性一致-->
        <property name="defaultEncoding" value="UTF-8"/>
        <!--限制文件上传大小 20M -->
        <property name="maxUploadSize" value="20971520"/>
    </bean>

    <!-- 拦截器 -->
    <!--自定义拦截器-->
    <mvc:interceptors>
        <!--版本拦截，如果版本过低，不能继续-->
        <mvc:interceptor>
            <!--配置要拦截的路径-->
            <mvc:mapping path="/**"/>
            <!--配置不拦截的路径-->
            <!--api 接口-->
            <mvc:exclude-mapping path="/api/getUUID"/>
            <mvc:exclude-mapping path="/api/getVersion"/>
            <mvc:exclude-mapping path="/api/getLowVersion"/>
            <mvc:exclude-mapping path="/api/downloadFile"/>
            <!--静态资源放行-->
            <mvc:exclude-mapping path="/*.html"/>
            <mvc:exclude-mapping path="/css/**"/>
            <!--指定拦截器类路径-->
            <bean class="com.cshbxy.interceptor.Interceptor_Version"/>
        </mvc:interceptor>
        <!--token 拦截，如果没有 token，不能继续-->
        <mvc:interceptor>
            <!--配置要拦截的路径-->
            <!-- 用户模块-->
            <mvc:mapping path="/api/user/checkUser"/>
            <mvc:mapping path="/api/user/findRealeName"/>
            <mvc:mapping path="/api/user/update"/>
            <mvc:mapping path="/api/user/updatePassword"/>
            <mvc:mapping path="/api/user/updateUsername"/>
            <!--文件上传模块-->
            <mvc:mapping path="/api/uploadFile"/>
            <mvc:mapping path="/api/deleteUploadFile"/>
            <mvc:mapping path="/api/checkLastTimeUploadFiles"/>
            <mvc:mapping path="/api/findUploadFilesByUid"/>
            <!--流程查询模块-->
            <mvc:mapping path="/apply/departmentChange/findProcess"/>
            <mvc:mapping path="/apply/leave/findProcess"/>
            <mvc:mapping path="/apply/procurement/findProcess"/>
            <mvc:mapping path="/apply/travel/findProcess"/>
            <mvc:mapping path="/apply/workReport/findProcess"/>
            <!--文件上传模块-->
            <!--指定拦截器类路径-->
            <bean class="com.cshbxy.interceptor.Interceptor_Token"/>
        </mvc:interceptor>
        <!--权限拦截，如果没有 employee 权限，不能继续-->
        <mvc:interceptor>
            <!--配置要拦截的路径-->
            <!--部门变更模块-->
            <mvc:mapping path="/apply/departmentChange/add"/>
            <mvc:mapping path="/apply/departmentChange/checkLastTime"/>
            <mvc:mapping path="/apply/departmentChange/findApplyList"/>
            <mvc:mapping path="/apply/departmentChange/delete"/>
            <mvc:mapping path="/apply/departmentChange/refesh"/>
            <!--请假模块-->
            <mvc:mapping path="/apply/leave/add"/>
            <mvc:mapping path="/apply/leave/findApplyList"/>
            <mvc:mapping path="/apply/leave/delete"/>
            <mvc:mapping path="/apply/leave/checkLastTime"/>
            <mvc:mapping path="/apply/leave/update"/>
            <mvc:mapping path="/apply/leave/refesh"/>
            <!--采购申请模块-->
            <mvc:mapping path="/apply/procurement/add"/>
            <mvc:mapping path="/apply/procurement/findApplyList"/>
            <mvc:mapping path="/apply/procurement/delete"/>
            <mvc:mapping path="/apply/procurement/update"/>
            <mvc:mapping path="/apply/procurement/refesh"/>
            <!--差旅报销模块-->
            <mvc:mapping path="/apply/travel/add"/>
            <mvc:mapping path="/apply/travel/findApplyList"/>
            <mvc:mapping path="/apply/travel/delete"/>
            <mvc:mapping path="/apply/travel/refesh"/>
            <!--工作报告模块-->
            <mvc:mapping path="/apply/workReport/add"/>
            <mvc:mapping path="/apply/workReport/checkLastTime"/>
            <mvc:mapping path="/apply/workReport/findApplyList"/>
            <mvc:mapping path="/apply/workReport/delete"/>
            <mvc:mapping path="/apply/workReport/refesh"/>
            <!--指定拦截器类路径-->
            <bean class="com.cshbxy.interceptor.Interceptor_Token_Employee"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <!--配置要拦截的路径-->
            <!--部门变更模块-->
            <mvc:mapping path="/apply/departmentChange/findWaitList"/>
            <mvc:mapping path="/apply/departmentChange/resolve"/>
            <mvc:mapping path="/apply/departmentChange/reject"/>
            <!--请假模块-->
            <mvc:mapping path="/apply/leave/findWaitList"/>
            <mvc:mapping path="/apply/leave/resolve"/>
            <mvc:mapping path="/apply/leave/reject"/>
            <!--采购申请模块-->
            <mvc:mapping path="/apply/procurement/findWaitList"/>
            <mvc:mapping path="/apply/procurement/resolve"/>
            <mvc:mapping path="/apply/procurement/reject"/>
            <!--差旅报销模块-->
            <mvc:mapping path="/apply/travel/findWaitList"/>
            <mvc:mapping path="/apply/travel/resolve"/>
            <mvc:mapping path="/apply/travel/reject"/>
            <!--工作报告模块-->
            <mvc:mapping path="/apply/workReport/findWaitList"/>
            <mvc:mapping path="/apply/workReport/resolve"/>
            <mvc:mapping path="/apply/workReport/reject"/>
            <!--用户模块-->
            <mvc:mapping path="/api/user/delete"/>
            <mvc:mapping path="/api/user/updateStatus"/>
            <!--指定拦截器类路径-->
            <bean class="com.cshbxy.interceptor.Interceptor_Token_DepartmentOrLeader"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>